node_modules
dist
SriBagavathDevClean.apk
.env
.DS_Store
*.log
android/app/build
android/.gradle
android/local.properties
android/capacitor-cordova-android-plugins
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
service-account.json
AgentCompanion.apk
venv/
temp/
*.txt
*.mjs
*.js
!src/**/*.js
!*.config.js
!*.config.mjs
!*.config.cjs
!src/**/*.mjs
!*.sh

sri-bagavath-dev-firebase-adminsdk-fbsvc-b3da295cc2.json
google-services.json
release-keystore.jks
android/app/signing.properties

# Secrets Management
secrets/
!secrets.zip
